# Learn Python for SEO
Author: Alex Galea   
Date: November 2016


## Tutorial 2: Fundamentals

 - Variable names
 - Datatypes
 - Data containers
 - Variable comparison and truthiness
 - Arithmetic
 - Iterators

### Variable names

In [9]:
# Good

friend_name = 'Patel'

In [10]:
# Bad

friend-name = 'Patel'

SyntaxError: can't assign to operator (<ipython-input-10-7996d7e76546>, line 2)

In [ ]:
# Use an illigal variable name to re-create the above SyntaxError
# Your variable name cannot contain the "-" character!

### Datatypes

In [11]:
# Integer

my_int = 5
print(type(my_int))

<class 'int'>

In [12]:
# Float

my_float = 5.0
print(type(my_float))

<class 'float'>

In [18]:
# String

my_string = 'McDavid'
print(type(my_string))

<class 'str'>

In [46]:
# Use * to try and combine variables of different datatypes

### Data Containers

In [48]:
# List

cities = ['Vancouver', 'London', 'New York']

In [49]:
# Adding to a list

cities.append('Raleigh')
print(cities)

['Vancouver', 'London', 'New York', 'Raleigh']

In [52]:
# Get an element

print(cities[0])

Vancouver

In [ ]:
# Create a new list containing the North American cities
# Do not re-write the string names!

In [50]:
# Dictionary

city_populations = {'Vancouver': 603500, 'London': 366150, 'New York': 8406000}

In [51]:
# Adding to a dictionary

city_populations['Raleigh'] = 431746
print(city_populations)

{'New York': 8406000, 'Raleigh': 431746, 'Vancouver': 603500, 'London': 366150}

In [53]:
# Get an element

print(city_populations['Vancouver'])

603500

In [ ]:
# Change the population of London to be 367000

In [ ]:
# Create a dictionary with lists as the values

In [ ]:
# Can you add a dictionary as a value within a dictionary?

In [ ]:
# Can you use lists as dictionary keys? What about numbers?

### Variable Comparison and Truthiness

In [63]:
# Testing for equality


a = 5
b = 9
print('a == b?', a == b)
print('a != b?', a != b)

a == b? False
a != b? True

In [65]:
# When comparing strings, does capitalization matter?

In [69]:
# Elements in lists


a = 5
my_list = [4, 5, 4, 6]
print('a in my_list?', a in my_list)
print('a not in my_list?', a not in my_list)

a in my_list? True
a not in my_list? False

In [ ]:
# Check is a string contains a substring
# (e.g. does 'macys clothing' contain the substring 'macy'?)

In [86]:
# Inherent truthiness


a = 0
print(a, 'is', bool(a))

b = 84
print(b, 'is', bool(b))

0 is False
84 is True

In [ ]:
# What is the string equivalent of this idea?

In [94]:
# Lists have inderent truthiness too


a = []
print(a, 'is', bool(a))

b = [1, 3, 4]
print(b, 'is', bool(b))

[] is False
[1, 3, 4] is True

In [ ]:
# Can this be extended to dictionaries as well?

In [93]:
# The practical applicaiton of this is if statements

a = []
if a:
    print('The world is crazy')
else:
    a.append('!kraM reeb a guhc'[::-1])
    
print(a)

['chug a beer Mark!']

In [98]:
# Another example

a = ''
if not a:
    print('* warning * empty string')

* warning * empty string

In [ ]:
# Define a True variable of any kind then use
# an if statement to make it False

### Arithmetic

### Iterators